<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка CSV</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/ui/ripple.min.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body class="navbar-bottom">
    <div class="page-container">
        <div class="page-content">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>