{% extends 'layouts/app.html' %}

{% load static %}

{% block body %}
<div class="page-container">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <table cellspacing="0" border="1" class="table table-striped">
                        <tr>
                            <td style="font-weight: bold">CompName</td>
                            <td style="font-weight: bold">Filename</td>
                            <td style="font-weight: bold">.SHP</td>
                            <td style="font-weight: bold">.SHX</td>
                            <td style="font-weight: bold">.PRJ</td>
                            <td style="font-weight: bold">.DBF</td>
                            <td style="font-weight: bold">.SHP.XML</td>
                            <td style="font-weight: bold">SHP+SHX+PRJ+DBF Size</td>
                        </tr>
                        {% for item in data %}
                        <tr>
                            <td>{{ item.compname }}</td>
                            <td>{{ item.filename }}</td>
                            <td>{{ item.shp }}</td>
                            <td>{{ item.shx }}</td>
                            <td>{{ item.prj }}</td>
                            <td>{{ item.dbf }}</td>
                            <td>{{ item.shpxml }}</td>
                            <td>{{ item.sum_good }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}